* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    height: 6000px;
}

.background {
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 56px;
    box-shadow: 0px 1px 10px #ccc;
    z-index: 3;
}

.search {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 15px;
    color: #606770;
}

.search input {
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    padding: 7px 16px 9px 36px;
    color: #606770;
    font-size: 15px;

    border-radius: 50px;
}

.search input:focus {
    outline: none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

}

.button {
    background: purple;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .6s;
}

.zoom-in {
    transform: scale(.5);
}

.zoom-out {
    transform: scale(.5);
}

.zoom-in:hover {
    background: #7900FA;
    color: red;
    transform: scale(1);
    box-shadow: 0 0 30px #7900FA;

}

.div01 {
    display: flex;
    justify-content: flex-end;

}

.div01 a {
    text-decoration: none;
    color: #606770;
    font-size: 25px;
    margin: 0px 10px;
    padding: 10px 20px;

}




.nav-middle {
    display: flex;


    font-family: Arial, Helvetica, sans-serif;

}

.nav-1 {
    display: flex;
    margin-left: -100px;
    border: 1px solid black;
    padding: 0px 7px;

}

.links a {

    display: flex;
    text-decoration: none;
    color: black;

}

.link-website a {
    color: #7900FA;
}

nav {
    display: flex;
    justify-content: space-around;
}

.hessen0 {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: #00E6DF;
    position: relative;
    z-index: -1;
}

.hessen0 img {
    width: 400px;
    height: 300px;
    margin-top: 200px;
    margin-left: 100px;
}

h2 {
    font-size: 58px;
    margin-top: 300px;
    margin-left: 00px;
    font-family: Arial, Helvetica, sans-serif;

}



.div13 {
    width: 1340px;
    height: 400px;

    color: white;


}

.divv13 {
    color: black;

    margin-top: 150px;
}

.div14 {


    width: 350px;
    height: 150px;
    color: black;
    margin-top: 100px;

    margin-left: 50px;


}




b {
    font-size: 20px;
    margin-left: 120px;
    margin-top: 1000px;

}



.div15 {

    width: 400px;
    height: 150px;
    text-align: center;
    justify-content: space-around;
    color: black;
    margin-left: 450px;
    margin-top: -150px;


}

.div18 {
    width: 400px;
    height: 150px;
    color: black;
    margin-left: 900px;
    margin-top: -150px;
    transition: 0.7s;

}


.picture {

    height: auto;
    width: 20%;
    overflow: hidden;
}

.picture img {
    width: 100%;
    display: block;
    transition: transform 1s;

}

.picture:hover img {
    transform: scale(1.3);

}





.cloth {
    margin-top: 10px;

    background-color: white;

    height: 400px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.082), -1px 1px 1px 1px rgba(128, 128, 128, 0.103)
}

.shoes {

    background-color: white;

    height: 400px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.082), -1px 1px 1px 1px rgba(128, 128, 128, 0.103)
}


.cloth2 {

    background-color: white;

    height: 400px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.082), -1px 1px 1px 1px rgba(128, 128, 128, 0.103)
}

.word {
    color: #9D00FA;
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.price {
    color: #9D00FA;
    margin-top: 40px;
    margin-left: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.word-small {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 15px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.word-3 {
    margin-top: 60px;
    margin-left: 100px;
    color: #9D00FA;
    font-family: Arial, Helvetica, sans-serif;

}

.price-2 {

    color: #9D00FA;
    margin-top: 30px;
    margin-left: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.word-small-2 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.word-4 {
    color: #9D00FA;
    margin-top: 20px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

.word-small-3 {
    margin-top: 20px;
    margin-left: 90px;
    font-size: 15px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.price-3 {

    color: #9D00FA;
    margin-top: 20px;
    margin-left: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {

    color: #000;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;


}

.jackets {

    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.jackets h1 {
    margin-top: 200px;
    margin-right: 150px;
    font-size: 25px;
    color: #9D00FA;
    font-family: Arial, Helvetica, sans-serif;

}

.links {
    padding: 50px 70px 20px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.links.links ul li {
    list-style-type: none !important;
    margin: 30px 0px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 32px;


}

.links.links ul li i {
    font-size: 35px;
    background-color: white;
    padding: 0;
    color: gray;


}



.m-8 ul li {
    margin: 15px 15px 15px !important;

}

.w-33 {
    width: 33.33% !important;

}

.w-16 {
    width: 16.6% !important;
}



div input {
    width: 200px;
    height: 50px;

}

.h {
    width: 100%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;


    background-color: rgba(128, 128, 128, 0.096);
}

.input-tube-send {
    margin-left: 950px;

}

.input-tube-send a {
    border: 1px solid green;
    padding: 15px 10px 15px;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-left: -69px;


}